.headNav {
  height: 9.5em;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-right: 20.5em;
}

.headNav ul li {
  list-style-type: none;
  margin: 0.8em;
}

.headNav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.13em;
  transition: 1s;
  padding: 0.5em;
  border-radius: 5px;
}

.headNav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 1s;
}


.headNav img {
  margin-left: 21em;
}
